<div class="root">
  <mat-toolbar class="navbar has-background-dark">
    <mat-toolbar-row>
      <h1 class="app-name has-gradient-text">Kanban</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">Board</p>
    </div>

    <div class="board-wrapper">
      <!-- COME BACK AND MAKE THIS DYNAMIC -->
      <div class="board-columns">
        <div class="board-column">
          <div class="column-title">IDEAS</div>

          <div class="tasks-container">
            <div class="task">This is something that i want to do</div>

            <!-- test -->
            <div class="task">This is something that i want to do</div>
            <div class="task">This is something that i want to do</div>
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">TODO</div>

          <div class="tasks-container">
            <div class="task">This is something that i want to do</div>

            <!-- test -->
            <div class="task">This is something that i want to do</div>
            <div class="task">This is something that i want to do</div>
            <div class="task">This is something that i want to do</div>
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">IN PROGRESS</div>

          <div class="tasks-container">
            <div class="task">This is something that i want to do</div>

            <!-- test -->
            <div class="task">This is something that i want to do</div>
            <div class="task">This is something that i want to do</div>
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">DONE</div>

          <div class="tasks-container">
            <div class="task">This is something that i want to do</div>

            <!-- test -->
            <div class="task">This is something that i want to do</div>
            <div class="task">This is something that i want to do</div>
            <div class="task">This is something that i want to do</div>
            <div class="task">This is something that i want to do</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
